---
import Container from "./Container.astro"

---
<footer class="pb-20">
    <Container>
    <div class="flex flex-row flex-wrap items-center gap-y-6 gap-x-12text-center justify-between">
        <p class="block font-semibold text-sm">
            HW
        </p>
   
      <ul class="flex flex-wrap items-center gap-y-2 gap-x-8">
        <li>
          <a
            href="#"
            class=""
          >
            Home
          </a>
        </li>
        <li>
          <a
            href="#"
            class=" text-sm"
          >
            About
          </a>
        </li>
        <li>
          <a
            href="#"
            class=" text-sm"
          >
            Projects
          </a>
        </li>
      </ul>
    </div>
    <p class="block mb-4 text-sm text-center text-slate-500 md:mb-0 border-t border-slate-600 mt-4 pt-4">
      Copyright © 2025&nbsp; 
      <a href="https://material-tailwind.com/" target="_blank" rel="noreferrer">HW</a>
    </p>
</Container>
    </footer>