---
import Container from "./Container.astro"

---

<div id="projects">
  <Container>
      <div class="mb-12 space-y-2 text-center">
        <h2 class="text-3xl font-bold text-gray-800 md:text-4xl dark:text-white">See my work</h2>
        <p class="lg:mx-auto lg:w-6/12 text-gray-600 dark:text-gray-300">
          See some of the projects I've worked on.
        </p>
      </div>
      <div class="grid gap-8 md:grid-cols-2 lg:grid-cols-3">
        <div class="group p-6 sm:p-8 rounded-3xl border-gray-100 dark:shadow-none">
          <div class="relative overflow-hidden rounded-xl">
            <img src="./images/projects/portfolio_web.webp"
            alt="art cover" loading="lazy" width="1000" height="667" class="h-64 w-full object-cover object-top transition duration-500 group-hover:scale-105"/>
          </div>
          <div class="mt-6 relative">
            <h3 class="text-2xl font-semibold text-gray-800 dark:text-white">
              First portfolio website
            </h3>
            <p class="mt-6 mb-8 text-gray-600 dark:text-gray-300">
              My first portfolio website, with plain HTML, CSS and JavaScript.
            </p>
            <a href="https://houwinman.com/" class="flex items-center justify-between group-hover:text-purple-500">
              <span class="text-sm text-purple-300 group-hover:text-purple-500">To website</span>
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5 -translate-x-4 text-2xl opacity-0 transition duration-300 group-hover:translate-x-0 group-hover:opacity-100">
                <path fill-rule="evenodd" d="M12.97 3.97a.75.75 0 011.06 0l7.5 7.5a.75.75 0 010 1.06l-7.5 7.5a.75.75 0 11-1.06-1.06l6.22-6.22H3a.75.75 0 010-1.5h16.19l-6.22-6.22a.75.75 0 010-1.06z" clip-rule="evenodd" />
              </svg>                
            </a>
          </div>
          
        </div>
        <div class="group p-6 sm:p-8 rounded-3xl">
          <div class="relative overflow-hidden rounded-xl">
            <img src="./images/projects/ambitieuzeplanten.webp"
            alt="art cover" loading="lazy" width="1000" height="667" class="h-64 w-full object-cover object-top transition duration-500 group-hover:scale-105"/>
          </div>
          <div class="mt-6 relative">
            <h3 class="text-2xl font-semibold text-gray-800 dark:text-white">
              Webflow school project
            </h3>
            <p class="mt-6 mb-8 text-gray-600 dark:text-gray-300">
              A group project displaying each individual's process in a creative manner, incorporating elements such as micro-animations, 3D, and character design within Webflow.
            </p>
            <a href="https://ambitieuzeplanten.webflow.io/" class="flex items-center justify-between group-hover:text-purple-500">
              <span class="text-sm text-purple-300 group-hover:text-purple-500">To website</span>
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5 -translate-x-4 text-2xl opacity-0 transition duration-300 group-hover:translate-x-0 group-hover:opacity-100">
                <path fill-rule="evenodd" d="M12.97 3.97a.75.75 0 011.06 0l7.5 7.5a.75.75 0 010 1.06l-7.5 7.5a.75.75 0 11-1.06-1.06l6.22-6.22H3a.75.75 0 010-1.5h16.19l-6.22-6.22a.75.75 0 010-1.06z" clip-rule="evenodd" />
              </svg>                
            </a>
          </div>
          
        </div>
        <div class="group p-6 sm:p-8 rounded-3xl">
          <div class="relative overflow-hidden rounded-xl">
            <img src="./images/projects/fotografie_web.webp"
            alt="art cover" loading="lazy" width="1000" height="667" class="h-64 w-full object-cover object-top transition duration-500 group-hover:scale-105"/>
          </div>
          <div class="mt-6 relative">
            <h3 class="text-2xl font-semibold text-gray-800 dark:text-white">
              Photography portfolio
            </h3>
            <p class="mt-6 mb-8 text-gray-600 dark:text-gray-300">
              A portfolio website showcasing the photos I've taken during my photography minor. Build in ReactJS and TypeScript (not responsive).
            </p>
            <a href="https://fotografie-portfolio-hwm.netlify.app/" class="flex items-center justify-between group-hover:text-purple-500">
              <span class="text-sm text-purple-300 group-hover:text-purple-500">To website</span>
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5 -translate-x-4 text-2xl opacity-0 transition duration-300 group-hover:translate-x-0 group-hover:opacity-100">
                <path fill-rule="evenodd" d="M12.97 3.97a.75.75 0 011.06 0l7.5 7.5a.75.75 0 010 1.06l-7.5 7.5a.75.75 0 11-1.06-1.06l6.22-6.22H3a.75.75 0 010-1.5h16.19l-6.22-6.22a.75.75 0 010-1.06z" clip-rule="evenodd" />
              </svg>                
            </a>
          </div>
        </div>
        <div class="group p-6 sm:p-8 rounded-3xl">
          <div class="relative overflow-hidden rounded-xl">
            <img src="./images/projects/HCI_web.webp"
            alt="art cover" loading="lazy" width="1000" height="667" class="h-64 w-full object-cover object-top transition duration-500 group-hover:scale-105"/>
          </div>
          <div class="mt-6 relative">
            <h3 class="text-2xl font-semibold text-gray-800 dark:text-white">
              HCI Technologies course
            </h3>
            <p class="mt-6 mb-8 text-gray-600 dark:text-gray-300">
              A website where I've documented all my progress from the HCI Technologies course using HTML, CSS, and JS.
            </p>
            <a href="https://hci-houwin-portfolio.netlify.app/" class="flex items-center justify-between group-hover:text-purple-500">
              <span class="text-sm text-purple-300 group-hover:text-purple-500">To website</span>
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5 -translate-x-4 text-2xl opacity-0 transition duration-300 group-hover:translate-x-0 group-hover:opacity-100">
                <path fill-rule="evenodd" d="M12.97 3.97a.75.75 0 011.06 0l7.5 7.5a.75.75 0 010 1.06l-7.5 7.5a.75.75 0 11-1.06-1.06l6.22-6.22H3a.75.75 0 010-1.5h16.19l-6.22-6.22a.75.75 0 010-1.06z" clip-rule="evenodd" />
              </svg>                
            </a>
          </div>
        </div>
        <div class="group p-6 sm:p-8 rounded-3xl">
          <div class="relative overflow-hidden rounded-xl">
            <img src="./images/projects/Machimachi.webp"
            alt="art cover" loading="lazy" width="1000" height="667" class="h-64 w-full object-cover object-top transition duration-500 group-hover:scale-105"/>
          </div>
          <div class="mt-6 relative">
            <h3 class="text-2xl font-semibold text-gray-800 dark:text-white">
             machi machi
            </h3>
            <p class="mt-6 mb-8 text-gray-600 dark:text-gray-300">
              A client website for a bubble tea shop in Rotterdam, The Netherlands.
            </p>
            <a href="https://www.machitea.nl/" class="flex items-center justify-between group-hover:text-purple-500">
              <span class="text-sm text-purple-300 group-hover:text-purple-500">To website</span>
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5 -translate-x-4 text-2xl opacity-0 transition duration-300 group-hover:translate-x-0 group-hover:opacity-100">
                <path fill-rule="evenodd" d="M12.97 3.97a.75.75 0 011.06 0l7.5 7.5a.75.75 0 010 1.06l-7.5 7.5a.75.75 0 11-1.06-1.06l6.22-6.22H3a.75.75 0 010-1.5h16.19l-6.22-6.22a.75.75 0 010-1.06z" clip-rule="evenodd" />
              </svg>                
            </a>
          </div>
        </div>
        <div class="group p-6 sm:p-8 rounded-3xl">
          <div class="relative overflow-hidden rounded-xl">
            <img src="./images/projects/Omaira.webp"
            alt="art cover" loading="lazy" width="1000" height="667" class="h-64 w-full object-cover object-top transition duration-500 group-hover:scale-105"/>
          </div>
          <div class="mt-6 relative">
            <h3 class="text-2xl font-semibold text-gray-800 dark:text-white">
              Restaurant Omaira
            </h3>
            <p class="mt-6 mb-8 text-gray-600 dark:text-gray-300">
              A client website for a restaurant in Rotterdam, The Netherlands. 
            </p>
            <a href="https://restaurantomaira.com/" class="flex items-center justify-between group-hover:text-purple-500">
              <span class="text-sm text-purple-300 group-hover:text-purple-500">To website</span>
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5 -translate-x-4 text-2xl opacity-0 transition duration-300 group-hover:translate-x-0 group-hover:opacity-100">
                <path fill-rule="evenodd" d="M12.97 3.97a.75.75 0 011.06 0l7.5 7.5a.75.75 0 010 1.06l-7.5 7.5a.75.75 0 11-1.06-1.06l6.22-6.22H3a.75.75 0 010-1.5h16.19l-6.22-6.22a.75.75 0 010-1.06z" clip-rule="evenodd" />
              </svg>                
            </a>
          </div>
        </div>
      </div>
      <a
      href="#"
      class="relative m-auto mt-10 flex h-11 w-full items-center justify-center px-6 before:absolute before:inset-0 before:rounded-full before:bg-primary before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 sm:w-max"
    >
      <span class="relative text-base font-semibold text-white"
        >See more(coming soon)</span
      >
    </a>
  </Container>
</div>